<section class="benefits">
  <div class="container">
    <h2 class="benefits-title">
      <span class="green-text">Benefits</span> of working with me
    </h2>
    <ul class="benefits-list">
      <li class="benefits-list-item">
        <svg width="48" height="48">
          <use href="../img/icons.svg#expertise"></use>
        </svg>
        <h2 class="benefit-item-title">expertise</h2>
        <p class="benefits-list-item-text">
          With extensive experience in development, I have a deep understanding
          of programming and website development.
        </p>
      </li>
      <li class="benefits-list-item">
        <svg width="48" height="48">
          <use href="../img/icons.svg#communication"></use>
        </svg>
        <h2 class="benefit-item-title">Communication</h2>
        <p class="benefits-list-item-text">
          Understanding your needs and wants is my priority and I am always
          available for discussions and open to corrections.
        </p>
      </li>
      <li class="benefits-list-item">
        <svg width="48" height="48">
          <use href="../img/icons.svg#art"></use>
        </svg>
        <h2 class="benefit-item-title">art</h2>
        <p class="benefits-list-item-text">
          Thanks to my creative nature, I am ready to accept challenges and help
          you bring your ideas to life.
        </p>
      </li>
      <li class="benefits-list-item">
        <svg width="48" height="48">
          <use href="../img/icons.svg#urgent"></use>
        </svg>
        <h2 class="benefit-item-title">Urgent execution</h2>
        <p class="benefits-list-item-text">
          I understand how important time is to you. Ready to work quickly and
          efficiently, without reducing the quality of work.
        </p>
      </li>
    </ul>
  </div>
</section>
