<section class="footer">
  <div class="container">
    <a href="index.html" class="footer-logo"
      >Lloyd<span class="green-text">Jefferson.</span></a
    >
    <ul class="footer-list">
      <li class="footer-list-item"><a href="">Instagram</a></li>
      <li class="footer-list-item"><a href="">Facebook</a></li>
      <li class="footer-list-item"><a href="">Linkedin</a></li>
      <li class="footer-list-item"><a href="">GitHub</a></li>
    </ul>
    <p class="copyright">© Copyright 2024.<br> Made by LloydJefferson</br></p>
  </div>
</section>
