<section class="hero">
  <div class="container hero-container">
    <h1 class="hero-title">
      Hello, I am <span class="green-text">Fullstack developer</span>
    </h1>

    <div class="hero-link">
      <a href="#" noopener noreferrer
        ><svg width="32" height="32" class="icon-color">
          <use href="../img/icons.svg#arrow-hero"></use>
        </svg>
        Order the project</a
      >
      <span class="light-green-box"></span>
    </div>
    <p class="hero-text">
      I work with people all over the world to create
      <span class="green-text">impressive</span> and
      <span class="green-text">functional websites</span> that reflect each
      client’s unique personality.
    </p>
    <nav class="hero-nav">
      <ul class="hero-nav-list">
        <li class="hero-nav-list-item">
          <a href="" noopener noreferrer>Instagram</a>
        </li>
        <li class="hero-nav-list-item">
          <a href="" noopener noreferrer>Facebook</a>
        </li>
        <li class="hero-nav-list-item">
          <a href="" noopener noreferrer>Linkedin</a>
        </li>
        <li class="hero-nav-list-item">
          <a href="" noopener noreferrer>GitHub</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
