<section class="my-project">
  <div class="container">
    <h2 class="my-project-title">
      my <span class="green-text">projects</span>
    </h2>
    <ul class="my-project-list">
      <li class="my-project-list-item">
        <img src="../img/my-project1.png" alt="photo1" />
        <div class="my-project-list-item-content">
          <p class="my-project-item-text">React, JavaScript, Node JS, Git</p>
          <h3 class="my-project-item-title">Wallet webservice</h3>
          <button type="submit" class="my-project-item-btn">
            VISIT
            <svg width="18" height="18" class="my-project-item-btn-icon">
              <use href="../img/icons.svg#arrow-right-up"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="my-project-list-item">
        <img src="../img/my-project2.png" alt="photo1" />
        <div class="my-project-list-item-content">
          <p class="my-project-item-text">React, JavaScript, Node JS, Git</p>
          <h3 class="my-project-item-title">Green harvest webservice</h3>
          <button type="submit" class="my-project-item-btn">
            VISIT
            <svg width="18" height="18" class="my-project-item-btn-icon">
              <use href="../img/icons.svg#arrow-right-up"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="my-project-list-item">
        <img src="../img/my-project3.png" alt="photo1" />
        <div class="my-project-list-item-content">
          <p class="my-project-item-text">React, JavaScript, Node JS, Git</p>
          <h3 class="my-project-item-title">English Exellence website</h3>
          <button type="submit" class="my-project-item-btn">
            VISIT
            <svg width="18" height="18" class="my-project-item-btn-icon">
              <use href="../img/icons.svg#arrow-right-up"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
    <button type="submit" class="btn-load-more">LOAD MORE</button>
  </div>
</section>
