<section class="reviews">
  <div class="container">
    <h2 class="reviews-title">reviews</h2>
    <ul class="reviews-list">
      <li class="reviews-list-item">
        <p class="reviews-item-text">
          Work with was extraordinary! He turned out to be a very competent and
          responsible specialist. The projects were completed on time and the
          result exceeded my expectations
        </p>
        <div class="reviews-photo-name">
          <img src="../img/reviewsphoto.png" alt="" class="item-photo" />
          <span class="item-name">Natalia Shevchenko</span>
        </div>
      </li>
    </ul>
  </div>
</section>
