<div class="marquee">
  <div class="marquee__inner">
    <ul class="marquee__line">
      <li>HTML/CSS</li>
      <li>JavaScript</li>
      <li>React</li>
      <li>Node.js</li>
      <li>React Native</li>
      <li>Typescript</li>
    </ul>
  </div>
  <div class="marquee__inner marquee__inner2">
    <ul class="marquee__line">
      <li>HTML/CSS</li>
      <li>JavaScript</li>
      <li>React</li>
      <li>Node.js</li>
      <li>React Native</li>
      <li>Typescript</li>
    </ul>
  </div>
</div>
