<section class="work-together">
  <div class="container">
    <h2 class="work-together-title">
      let’s <span class="green-text">work together</span>
    </h2>
    <div class="work-together-contact">
      <h3 class="contact-title">
        Contact me to transform your ideas into exceptional solutions.
      </h3>
      <ul class="contact-list">
        <li class="contact-list-item">
          <svg width="22" height="22">
            <use href="../img/icons.svg#tel"></use>
          </svg>
          <a href="tel:+380504343036" class="work-tel"> +38 050 43 43 036</a>
        </li>
        <li class="contact-list-item">
          <svg width="22" height="16">
            <use href="../img/icons.svg#mail"></use>
          </svg>
          <a href="mailto:lloydjefferson@gmail.com" class="work-tel"
            >lloydjefferson@gmail.com</a
          >
        </li>
        <li class="contact-list-item">
          <svg width="22" height="24">
            <use href="../img/icons.svg#geo"></use>
          </svg>
          <a href="#" class="work-tel">USA, New York</a>
        </li>
      </ul>
      <form action="" class="form">
        <input
          type="email"
          name="email"
          id="work-email"
          class="work-email"
          placeholder="Your email*"
        />
        <textarea
          class="work-textarea"
          name="work-textarea"
          id=""
          cols="30"
          rows="10"
        ></textarea>
        <button type="submit" class="work-together-btn">SEND MESSAGE</button>
      </form>
    </div>
  </div>
</section>
