.about {
  padding-bottom: 80px;
}
.about-title {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23077;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 40px;
  color: #292929;
}
.about-container img {
  margin-bottom: 40px;
}
.bio-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #292929;
}
