.hero {
  padding-top: 112px;
  padding-bottom: 80px;
}
.hero-title {
  font-family: 'Impact', sans-serif;
  font-size: 64px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
  margin-bottom: 40px;
}
.light-green-box {
  display: inline-block;
  border-radius: 16px;
  width: 165px;
  height: 92px;
  background: rgba(0, 176, 104, 0.2);
  position: absolute;
  right: 0;
  top: 0;
}
.hero-link {
  position: relative;
  margin-bottom: 35px;
  padding-left: 2px;
}
.hero-link a {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
  position: relative;
  display: flex;
  gap: 10px;
  padding: 32px 0;
}
.hero-text {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
  margin-bottom: 72px;
}
.hero-nav {
  padding: 32px;
}
.hero-nav-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.hero-nav-list-item {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #292929;
}
