/* .marquee {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #292929;
  padding: 32;
  position: relative;
}

.marquee__inner {
  background: #bcdfd1;
  display: flex;
  position: inherit;
  z-index: 2;
 
}

.marquee__line {
  flex-shrink: 0;
  margin: 0;
  min-width: 100%;
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  display: flex;
  gap: 40px;
  position: relative;
}
.marquee__line li {
  padding: 32px 10px;
  position: relative;
}
.marquee__line li::after {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 2px;
  position: absolute;
  background-color: #00b068;
  top: 48px;
  right: -28px;
}
.marquee__inner2 {
  transform: rotate(2deg);
  background: #e4e5e6;
  z-index: 1;
}
@keyframes marqueeLine {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
} */

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.marquee {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #292929;
  padding: 32px;
  overflow: hidden; /* Додано для приховування прокрутки */
  position: relative;
}

.marquee__inner {
  background: #bcdfd1;
  display: flex;
  position: absolute; /* Змінено на absolute для позиціонування анімації */
  top: 0;
  left: 0;
  width: 200%; /* Ширина на 2х рядків тексту */
  animation: marquee 20s linear infinite;
}

.marquee__line {
  flex-shrink: 0;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.marquee__line li {
  padding: 32px 10px;
  position: relative;
}

.marquee__line li::after {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 2px;
  position: absolute;
  background-color: #00b068;
  top: 48px;
  right: -28px;
}

.marquee__inner2 {
  transform: translateX(100%); /* Початок за межами видимості */
  background: #e4e5e6;
  z-index: 1;
  animation: marquee2 20s linear infinite; /* Анімація для другого блоку */
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
